# Generated website directory
_site/

# Sass cache
.sass-cache/

# Jekyll cache & metadata
.jekyll-cache/
.jekyll-metadata

# Notes graph metadata
_includes/notes_graph.json

# Obsidian data
.obsidian/
obsidian.css
_notes/templates/

# not shareable content
copyrighted-content/
