This website was conceived and built by <a href="https://tommi.space" target="_blank">Tommi</a> with ❤️.<br />
If you would like to help him in keeping it updated, please visit the <a href="/contribute" title="Contribute to PISE Notes">Contribution page</a>.<br />
For more information, check the <a href="/about">About</a> page.

<br />
<br />

You are curious to know how many students are visiting the website right now, you can check the <a href="https://plausible.io/pise-notes.club" rel="noopener noreferrer" target="_blank" title="pise-notes.club analytics">public analytics</a> page.

Everything on <a href="/" title="This website">pise-notes.club</a> is protected by <a rel="license noopener noreferrer" href="http://creativecommons.org/licenses/by-nc-sa/4.0/" target="_blank">Creative Commons Attribution-NonCommercial-ShareAlike 4.0 International License</a>, except where otherwhise specified.
