$color-primary: hsl(0, 0%, 10%);
$color-text: #222;
$color-subtext: hsl(0, 0%, 30%);
$color-border: hsl(0, 0%, 85%);
$color-box-background: mix($color-primary, white, 4%);
$border-radius: 10px;
$font-family: Inter, -apple-system, BlinkMacSystemFont, Segoe UI, Helvetica, Arial,
  sans-serif, Apple Color Emoji, Segoe UI Emoji, Segoe UI Symbol;
$font-mono: "Ubuntu Mono", "Roboto Mono", "Fira Code", monospace;

body {
  box-sizing: content-box;
  font-family: $font-family;
  margin: 0 auto;
  line-height: 1.7;
  padding: 4vh 6vw;
  overflow-x: hidden;
  color: $color-text;
  font-size: 1rem;
  max-width: 63em;

  @media (min-width: 820px) {
    font-size: 1.2rem;
  }
}

time {
  display: block;
  color: $color-subtext;
  margin: 0.5em 0 1em;
}

footer {
  margin: 6em 0 2em;
  font-size: 0.8em;
  color: mix($color-text, white, 80%);
  padding: 3vw;
  background: $color-box-background;
  border-radius: $border-radius;
}

img {
  max-width: 100%;
  display: block;
  margin: 0 auto;
  max-height: 75vh;
  border-radius: $border-radius;
}

blockquote {
  padding: 0 2em;
  margin: 2em 2em 0;
  font: 0.9em "EB Garamond", "Garamond", "Times", "Times New Roman", serif, "Playfair Display";
  /*background: $color-box-background;
  border-radius: $border-radius; */

  p {
    margin: 0;
  }
}

hr {
  width: 100%;
  border: 0;
  height: 2px;
  margin: 1.5em 0;
  background: $color-border;
  border-radius: $border-radius;
}

content hr {
  background: transparent;
  border-bottom: 5px dotted $color-border;
  border-radius: 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  line-height: 1.3;
  margin-bottom: 0;
  padding-bottom: 0;
}

a {
  transition: background .3s;
  padding: 0 0.2em;
  text-decoration: none;
  border-bottom: 2px solid $color-border;
  color: $color-primary;
  &:hover {
    color: black !important;
    background: #F3F7D9;
    border-radius: 4px;
  }
  &:after {
    position: relative;
    top: -0.5em;
    font-size: 0.5em;
    content: "↗";
    color: #aaaaaa;
  }
  &.internal-link:after {
    content: "";
  }
}

*:focus {
  background: #F3F7D9 !important;
}

nav {
  margin: 1em 0 3em;
}

#notes-entry-container {
  display: grid;
  grid-gap: 2em;
  grid-template-areas:
    "content"
    "side";

  @media (min-width: 700px) {
    grid-template-columns: 3fr 1fr;
    grid-template-areas: "content side";
  }
}

.backlink-box {
  background: $color-box-background;
  padding: 1em;
  border-radius: $border-radius;
  p {
    font-size: 0.6em;
  }
}

.backlinks-container {
  border: solid 2px $color-box-background;
  border-radius: $border-radius;
  padding: 1em;
  h3 {
    margin-top: 0;
  }
}

code {
  color: $color-subtext;
  background: #f5f5f5;
  padding: 0.2em 0.3em;
  border-radius: 4px;
  font-family: $font-mono;
}

.invalid-link {
  color: #444444;
  cursor: help;
  background: #fafafa;
  padding: 0 0.1em;
}

.invalid-link-brackets {
  color: #ccc;
  cursor: help;
}

.box {
  margin: 0.5rem auto;
  padding: 1em;
  background: #F3F7D9;
  border-radius: $border-radius;
  h3 {
    margin: 0;
  }
}
