---
layout: default
---
<article>
  <div>
    <h1>{{ page.title }}</h1>
    <time datetime="{{ page.last_modified_at | date_to_xmlschema }}">{% if page.type != 'pages' %}
      Last updated on {{ page.last_modified_at | date: "%B %-d, %Y" }}
      {% endif %}
    </time>
  </div>

  <div id="notes-entry-container">
    <content>
      {{ content }}
    </content>

    <side style="font-size: 0.9em">
      {% include author.html %}

      {% include backlinks.html %}

      {% include edit.html %}
    </side>
  </div>
</article>

<hr>

<p>The following is a graph containing all the notes and every topic in the website</p>

{% include notes_graph.html %}
