---
layout: default
---
<main>
<article>
  <div>
    <h1>{{ page.title }}</h1>
  </div>

  <div id="notes-entry-container">
    <content>
      {% include anchor_parser.html html=content anchorBody="#" anchorClass="anchor" %}
    </content>

    <side style="font-size: 0.9em">

      {% include author.html %}

      {% include backlinks.html %}

      <time datetime="{{ page.last_modified_at | date_to_xmlschema }}">
        Last updated on {{ page.last_modified_at | date: "%B %-d, %Y" }}
      </time>

      <div class="flex">
        {% if page.content contains '+++' or page.tags contain 'wip' %}
          <div id="wip">
            <span class="button">wip</span>
            <div class="box">These notes are <strong>not complete</strong>, they are in the works in this very moment</div>
          </div>
        {% endif %}
        <a id="edit" class="button" href="https://www.github.com/xplosionmind/pise-notes/blob/main/{{ page.path | uri_escape }}" target="_blank" rel="noopener noreferrer">edit this page</a>
      </div>

      {% if page.toc != false %}
        <h3>Table of Contents</h3>
        {% include toc.html html=content %}
      {% endif %}
    </side>
  </div>
</article>

{% include notes_graph.html %}
</main>
